.row
  #first
  .col-xs-8
    = link_to 'WoWorld', root_path, class: 'navbar-brand',remote:true
    %br
      %br
    = image_tag("bg5.jpg", size: "400x300", alt: "Avatar",class:"me")
    %br
    %br
    %p.lead
      =t(:desc)
  .col-xs-4
    .pull-left
      .btn-group
        %button.btn.btn-danger{:type => "button"}
          =t(:language)
        %button.btn.btn-danger.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          %span.caret
          %span.sr-only Toggle Dropdown
        %ul.dropdown-menu
          %li
            =link_to "English", locale: :en
          %li
            = link_to 'Русский', locale: :ru
      =render "pages/for_sign_in", resource: resource