.aquarius, .aries, .cancer, .capricorn, .dslr-click,
.gakuengine, .gemini, .giorgio, .happy-fmc, .kagetsuki,
.leo, .libra, .pisces, .rv, .sagittarius,
.scorpius, .taurus, .virgo, .anchor, .angry-face,
.anguished, .apple-of-discord, .assault-rifle, .astonished-face, .bactrian-camel,
.beer-mug, .bento-box, .bgok, .blowfish, .blush,
.boar, .bowtie, .bus-stop, .cactus, .cake,
.car, .cat-face, .cat-face-with-tears-of-joy, .cat-face-with-wry-smile, .chicken,
.circled-ideograph-secret, .cloud, .confused, .couple-holding-hands, .couple-in-love,
.couple-with-heart, .crescent-moon, .crying-cat-face, .crying-face, .cutting-lines,
.cyclone, .dancer, .disappointed-but-relieved-face, .disappointed-face, .dizzy-face,
.dog-face, .drunk, .elephant, .expressionless, .extraterrestrial-alien,
.face-savouring-delicious-food, .face-with-look-of-triumph, .face-with-medical-mask, .face-with-no-good-gesture, .face-with-ok-gesture,
.face-with-open-mouth-and-cold-sweat, .face-with-tear-of-joy, .family, .family-daughters, .fearful-face,
.first-quarter-moon, .fish-cake-with-swirl-design, .fisted-hand-sign, .flushed, .frog-face,
.frowning, .full-moon, .genshin, .gentleman-octopus, .ghost,
.glowing-star, .grimacing, .grin, .grinning, .grinning-cat-face-with-smiling-eyes,
.groupme, .guitar, .hamburger, .happijar, .happy-person-raising-one-hand,
.hatching-chick, .hear-no-evil-monkey, .heart, .heart-eyes, .high-hopes,
.high-voltage-sign, .horse, .hot-beverage, .hushed, .jack-o-lantern,
.jumping-spider, .jumping-spider-red, .kissing, .kissing-cat-face-with-closed-eyes, .kissing-closed-eyes,
.kissing-heart, .kissing-smiling-eyes, .koala, .ksroom, .lambda-chi-alpha,
.last-quarter-moon, .laughing, .loudly-crying-face, .love-hotel, .mens-symbol,
.microphone, .milky-way, .monster, .moon-with-face, .mount-fuji,
.new-moon, .ninja, .no-one-under-eighteen-symbol, .oars, .ocean-dive-view,
.octocat, .octopus, .one-eyed-robot, .open-mouth, .palm-pre3,
.paw-prints, .pegasus-black, .penguin, .penguin-chick, .pensive-face,
.persevering-face, .person-bowing-deeply, .person-frowning, .person-raising-both-hands-in-celebration, .person-with-folded-hands,
.person-with-pouting-face, .phone-book, .pill, .pistol, .pizza,
.poop, .pouting-cat-face, .pouting-face, .princess, .puke-finger,
.quoll, .rainbow, .rainbow-sky, .rainbow-solid, .relaxed,
.relieved, .rice-ball, .ruby, .satisfied, .scuba-diver,
.see-no-evil-monkey, .ship, .shit, .shooting-star, .siamese-kitten,
.skull, .sleeping, .smile, .smiley, .smiley-confused,
.smiley-kissing-heart, .smiley-sleeping, .smiley-smile, .smiley-stuck-out-tongue-winking-eye, .smiling-cat-face-with-heart-shaped-eyes,
.smiling-cat-face-with-open-mouth, .smiling-face, .smirk, .snail, .snake,
.snowboarder, .speak-no-evil-monkey, .speech-balloon, .spouting-whale, .stuck-out-tongue,
.stuck-out-tongue-closed-eyes, .stuck-out-tongue-winking-eye, .sun, .sun-with-face, .sunrise-over-mountains,
.sweat, .sweat-smile, .tangerine, .tennis-racquet-and-ball, .thumbs-up-sign,
.tropical-drink, .two-men-holding-hands, .two-men-in-love, .two-men-with-heart, .two-women-holding-hands,
.two-women-in-love, .two-women-with-heart, .unamused, .victory-hand, .video-game,
.waxing-gibbous-moon, .weary-cat-face, .weary-face, .wheelchair, .white-smiling-face,
.wink, .wink2, .wolf-face, .worried
{ display: inline-block; background: url('emoji2.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; cursor: pointer}

.aquarius { background-position: -0px -0px; width: 25px; height: 25px; }
.aries { background-position: -25px -0px; width: 25px; height: 25px; }
.cancer { background-position: -50px -0px; width: 25px; height: 25px; }
.capricorn { background-position: -75px -0px; width: 25px; height: 25px; }
.dslr-click { background-position: -100px -0px; width: 25px; height: 25px; }
.gakuengine { background-position: -125px -0px; width: 25px; height: 25px; }
.gemini { background-position: -150px -0px; width: 25px; height: 25px; }
.giorgio { background-position: -175px -0px; width: 25px; height: 25px; }
.happy-fmc { background-position: -200px -0px; width: 25px; height: 25px; }
.kagetsuki { background-position: -225px -0px; width: 25px; height: 25px; }
.leo { background-position: -250px -0px; width: 25px; height: 25px; }
.libra { background-position: -275px -0px; width: 25px; height: 25px; }
.pisces { background-position: -300px -0px; width: 25px; height: 25px; }
.rv { background-position: -325px -0px; width: 25px; height: 25px; }
.sagittarius { background-position: -0px -25px; width: 25px; height: 25px; }
.scorpius { background-position: -25px -25px; width: 25px; height: 25px; }
.taurus { background-position: -50px -25px; width: 25px; height: 25px; }
.virgo { background-position: -75px -25px; width: 25px; height: 25px; }
.anchor { background-position: -100px -25px; width: 25px; height: 25px; }
.angry-face { background-position: -125px -25px; width: 25px; height: 25px; }
.anguished { background-position: -150px -25px; width: 25px; height: 25px; }
.apple-of-discord { background-position: -175px -25px; width: 25px; height: 25px; }
.assault-rifle { background-position: -200px -25px; width: 25px; height: 25px; }
.astonished-face { background-position: -225px -25px; width: 25px; height: 25px; }
.bactrian-camel { background-position: -250px -25px; width: 25px; height: 25px; }
.beer-mug { background-position: -275px -25px; width: 25px; height: 25px; }
.bento-box { background-position: -300px -25px; width: 25px; height: 25px; }
.bgok { background-position: -325px -25px; width: 25px; height: 25px; }
.blowfish { background-position: -0px -50px; width: 25px; height: 25px; }
.blush { background-position: -25px -50px; width: 25px; height: 25px; }
.boar { background-position: -50px -50px; width: 25px; height: 25px; }
.bowtie { background-position: -75px -50px; width: 25px; height: 25px; }
.bus-stop { background-position: -100px -50px; width: 25px; height: 25px; }
.cactus { background-position: -125px -50px; width: 25px; height: 25px; }
.cake { background-position: -150px -50px; width: 25px; height: 25px; }
.car { background-position: -175px -50px; width: 25px; height: 25px; }
.cat-face { background-position: -200px -50px; width: 25px; height: 25px; }
.cat-face-with-tears-of-joy { background-position: -225px -50px; width: 25px; height: 25px; }
.cat-face-with-wry-smile { background-position: -250px -50px; width: 25px; height: 25px; }
.chicken { background-position: -275px -50px; width: 25px; height: 25px; }
.circled-ideograph-secret { background-position: -300px -50px; width: 25px; height: 25px; }
.cloud { background-position: -325px -50px; width: 25px; height: 25px; }
.confused { background-position: -0px -75px; width: 25px; height: 25px; }
.couple-holding-hands { background-position: -25px -75px; width: 25px; height: 25px; }
.couple-in-love { background-position: -50px -75px; width: 25px; height: 25px; }
.couple-with-heart { background-position: -75px -75px; width: 25px; height: 25px; }
.crescent-moon { background-position: -100px -75px; width: 25px; height: 25px; }
.crying-cat-face { background-position: -125px -75px; width: 25px; height: 25px; }
.crying-face { background-position: -150px -75px; width: 25px; height: 25px; }
.cutting-lines { background-position: -175px -75px; width: 25px; height: 25px; }
.cyclone { background-position: -200px -75px; width: 25px; height: 25px; }
.dancer { background-position: -225px -75px; width: 25px; height: 25px; }
.disappointed-but-relieved-face { background-position: -250px -75px; width: 25px; height: 25px; }
.disappointed-face { background-position: -275px -75px; width: 25px; height: 25px; }
.dizzy-face { background-position: -300px -75px; width: 25px; height: 25px; }
.dog-face { background-position: -325px -75px; width: 25px; height: 25px; }
.drunk { background-position: -0px -100px; width: 25px; height: 25px; }
.elephant { background-position: -25px -100px; width: 25px; height: 25px; }
.expressionless { background-position: -50px -100px; width: 25px; height: 25px; }
.extraterrestrial-alien { background-position: -75px -100px; width: 25px; height: 25px; }
.face-savouring-delicious-food { background-position: -100px -100px; width: 25px; height: 25px; }
.face-with-look-of-triumph { background-position: -125px -100px; width: 25px; height: 25px; }
.face-with-medical-mask { background-position: -150px -100px; width: 25px; height: 25px; }
.face-with-no-good-gesture { background-position: -175px -100px; width: 25px; height: 25px; }
.face-with-ok-gesture { background-position: -200px -100px; width: 25px; height: 25px; }
.face-with-open-mouth-and-cold-sweat { background-position: -225px -100px; width: 25px; height: 25px; }
.face-with-tear-of-joy { background-position: -250px -100px; width: 25px; height: 25px; }
.family { background-position: -275px -100px; width: 25px; height: 25px; }
.family-daughters { background-position: -300px -100px; width: 25px; height: 25px; }
.fearful-face { background-position: -325px -100px; width: 25px; height: 25px; }
.first-quarter-moon { background-position: -0px -125px; width: 25px; height: 25px; }
.fish-cake-with-swirl-design { background-position: -25px -125px; width: 25px; height: 25px; }
.fisted-hand-sign { background-position: -50px -125px; width: 25px; height: 25px; }
.flushed { background-position: -75px -125px; width: 25px; height: 25px; }
.frog-face { background-position: -100px -125px; width: 25px; height: 25px; }
.frowning { background-position: -125px -125px; width: 25px; height: 25px; }
.full-moon { background-position: -150px -125px; width: 25px; height: 25px; }
.genshin { background-position: -175px -125px; width: 25px; height: 25px; }
.gentleman-octopus { background-position: -200px -125px; width: 25px; height: 25px; }
.ghost { background-position: -225px -125px; width: 25px; height: 25px; }
.glowing-star { background-position: -250px -125px; width: 25px; height: 25px; }
.grimacing { background-position: -275px -125px; width: 25px; height: 25px; }
.grin { background-position: -300px -125px; width: 25px; height: 25px; }
.grinning { background-position: -325px -125px; width: 25px; height: 25px; }
.grinning-cat-face-with-smiling-eyes { background-position: -0px -150px; width: 25px; height: 25px; }
.groupme { background-position: -25px -150px; width: 25px; height: 25px; }
.guitar { background-position: -50px -150px; width: 25px; height: 25px; }
.hamburger { background-position: -75px -150px; width: 25px; height: 25px; }
.happijar { background-position: -100px -150px; width: 25px; height: 25px; }
.happy-person-raising-one-hand { background-position: -125px -150px; width: 25px; height: 25px; }
.hatching-chick { background-position: -150px -150px; width: 25px; height: 25px; }
.hear-no-evil-monkey { background-position: -175px -150px; width: 25px; height: 25px; }
.heart { background-position: -200px -150px; width: 25px; height: 25px; }
.heart-eyes { background-position: -225px -150px; width: 25px; height: 25px; }
.high-hopes { background-position: -250px -150px; width: 25px; height: 25px; }
.high-voltage-sign { background-position: -275px -150px; width: 25px; height: 25px; }
.horse { background-position: -300px -150px; width: 25px; height: 25px; }
.hot-beverage { background-position: -325px -150px; width: 25px; height: 25px; }
.hushed { background-position: -0px -175px; width: 25px; height: 25px; }
.jack-o-lantern { background-position: -25px -175px; width: 25px; height: 25px; }
.jumping-spider { background-position: -50px -175px; width: 25px; height: 25px; }
.jumping-spider-red { background-position: -75px -175px; width: 25px; height: 25px; }
.kissing { background-position: -100px -175px; width: 25px; height: 25px; }
.kissing-cat-face-with-closed-eyes { background-position: -125px -175px; width: 25px; height: 25px; }
.kissing-closed-eyes { background-position: -150px -175px; width: 25px; height: 25px; }
.kissing-heart { background-position: -175px -175px; width: 25px; height: 25px; }
.kissing-smiling-eyes { background-position: -200px -175px; width: 25px; height: 25px; }
.koala { background-position: -225px -175px; width: 25px; height: 25px; }
.ksroom { background-position: -250px -175px; width: 25px; height: 25px; }
.lambda-chi-alpha { background-position: -275px -175px; width: 25px; height: 25px; }
.last-quarter-moon { background-position: -300px -175px; width: 25px; height: 25px; }
.laughing { background-position: -325px -175px; width: 25px; height: 25px; }
.loudly-crying-face { background-position: -0px -200px; width: 25px; height: 25px; }
.love-hotel { background-position: -25px -200px; width: 25px; height: 25px; }
.mens-symbol { background-position: -50px -200px; width: 25px; height: 25px; }
.microphone { background-position: -75px -200px; width: 25px; height: 25px; }
.milky-way { background-position: -100px -200px; width: 25px; height: 25px; }
.monster { background-position: -125px -200px; width: 25px; height: 25px; }
.moon-with-face { background-position: -150px -200px; width: 25px; height: 25px; }
.mount-fuji { background-position: -175px -200px; width: 25px; height: 25px; }
.new-moon { background-position: -200px -200px; width: 25px; height: 25px; }
.ninja { background-position: -225px -200px; width: 25px; height: 25px; }
.no-one-under-eighteen-symbol { background-position: -250px -200px; width: 25px; height: 25px; }
.oars { background-position: -275px -200px; width: 25px; height: 25px; }
.ocean-dive-view { background-position: -300px -200px; width: 25px; height: 25px; }
.octocat { background-position: -325px -200px; width: 25px; height: 25px; }
.octopus { background-position: -0px -225px; width: 25px; height: 25px; }
.one-eyed-robot { background-position: -25px -225px; width: 25px; height: 25px; }
.open-mouth { background-position: -50px -225px; width: 25px; height: 25px; }
.palm-pre3 { background-position: -75px -225px; width: 25px; height: 25px; }
.paw-prints { background-position: -100px -225px; width: 25px; height: 25px; }
.pegasus-black { background-position: -125px -225px; width: 25px; height: 25px; }
.penguin { background-position: -150px -225px; width: 25px; height: 25px; }
.penguin-chick { background-position: -175px -225px; width: 25px; height: 25px; }
.pensive-face { background-position: -200px -225px; width: 25px; height: 25px; }
.persevering-face { background-position: -225px -225px; width: 25px; height: 25px; }
.person-bowing-deeply { background-position: -250px -225px; width: 25px; height: 25px; }
.person-frowning { background-position: -275px -225px; width: 25px; height: 25px; }
.person-raising-both-hands-in-celebration { background-position: -300px -225px; width: 25px; height: 25px; }
.person-with-folded-hands { background-position: -325px -225px; width: 25px; height: 25px; }
.person-with-pouting-face { background-position: -0px -250px; width: 25px; height: 25px; }
.phone-book { background-position: -25px -250px; width: 25px; height: 25px; }
.pill { background-position: -50px -250px; width: 25px; height: 25px; }
.pistol { background-position: -75px -250px; width: 25px; height: 25px; }
.pizza { background-position: -100px -250px; width: 25px; height: 25px; }
.poop { background-position: -125px -250px; width: 25px; height: 25px; }
.pouting-cat-face { background-position: -150px -250px; width: 25px; height: 25px; }
.pouting-face { background-position: -175px -250px; width: 25px; height: 25px; }
.princess { background-position: -200px -250px; width: 25px; height: 25px; }
.puke-finger { background-position: -225px -250px; width: 25px; height: 25px; }
.quoll { background-position: -250px -250px; width: 25px; height: 25px; }
.rainbow { background-position: -275px -250px; width: 25px; height: 25px; }
.rainbow-sky { background-position: -300px -250px; width: 25px; height: 25px; }
.rainbow-solid { background-position: -325px -250px; width: 25px; height: 25px; }
.relaxed { background-position: -0px -275px; width: 25px; height: 25px; }
.relieved { background-position: -25px -275px; width: 25px; height: 25px; }
.rice-ball { background-position: -50px -275px; width: 25px; height: 25px; }
.ruby { background-position: -75px -275px; width: 25px; height: 25px; }
.satisfied { background-position: -100px -275px; width: 25px; height: 25px; }
.scuba-diver { background-position: -125px -275px; width: 25px; height: 25px; }
.see-no-evil-monkey { background-position: -150px -275px; width: 25px; height: 25px; }
.ship { background-position: -175px -275px; width: 25px; height: 25px; }
.shit { background-position: -200px -275px; width: 25px; height: 25px; }
.shooting-star { background-position: -225px -275px; width: 25px; height: 25px; }
.siamese-kitten { background-position: -250px -275px; width: 25px; height: 25px; }
.skull { background-position: -275px -275px; width: 25px; height: 25px; }
.sleeping { background-position: -300px -275px; width: 25px; height: 25px; }
.smile { background-position: -325px -275px; width: 25px; height: 25px; }
.smiley { background-position: -0px -300px; width: 25px; height: 25px; }
.smiley-confused { background-position: -25px -300px; width: 25px; height: 25px; }
.smiley-kissing-heart { background-position: -50px -300px; width: 25px; height: 25px; }
.smiley-sleeping { background-position: -75px -300px; width: 25px; height: 25px; }
.smiley-smile { background-position: -100px -300px; width: 25px; height: 25px; }
.smiley-stuck-out-tongue-winking-eye { background-position: -125px -300px; width: 25px; height: 25px; }
.smiling-cat-face-with-heart-shaped-eyes { background-position: -150px -300px; width: 25px; height: 25px; }
.smiling-cat-face-with-open-mouth { background-position: -175px -300px; width: 25px; height: 25px; }
.smiling-face { background-position: -200px -300px; width: 25px; height: 25px; }
.smirk { background-position: -225px -300px; width: 25px; height: 25px; }
.snail { background-position: -250px -300px; width: 25px; height: 25px; }
.snake { background-position: -275px -300px; width: 25px; height: 25px; }
.snowboarder { background-position: -300px -300px; width: 25px; height: 25px; }
.speak-no-evil-monkey { background-position: -325px -300px; width: 25px; height: 25px; }
.speech-balloon { background-position: -0px -325px; width: 25px; height: 25px; }
.spouting-whale { background-position: -25px -325px; width: 25px; height: 25px; }
.stuck-out-tongue { background-position: -50px -325px; width: 25px; height: 25px; }
.stuck-out-tongue-closed-eyes { background-position: -75px -325px; width: 25px; height: 25px; }
.stuck-out-tongue-winking-eye { background-position: -100px -325px; width: 25px; height: 25px; }
.sun { background-position: -125px -325px; width: 25px; height: 25px; }
.sun-with-face { background-position: -150px -325px; width: 25px; height: 25px; }
.sunrise-over-mountains { background-position: -175px -325px; width: 25px; height: 25px; }
.sweat { background-position: -200px -325px; width: 25px; height: 25px; }
.sweat-smile { background-position: -225px -325px; width: 25px; height: 25px; }
.tangerine { background-position: -250px -325px; width: 25px; height: 25px; }
.tennis-racquet-and-ball { background-position: -275px -325px; width: 25px; height: 25px; }
.thumbs-up-sign { background-position: -300px -325px; width: 25px; height: 25px; }
.tropical-drink { background-position: -325px -325px; width: 25px; height: 25px; }
.two-men-holding-hands { background-position: -0px -350px; width: 25px; height: 25px; }
.two-men-in-love { background-position: -25px -350px; width: 25px; height: 25px; }
.two-men-with-heart { background-position: -50px -350px; width: 25px; height: 25px; }
.two-women-holding-hands { background-position: -75px -350px; width: 25px; height: 25px; }
.two-women-in-love { background-position: -100px -350px; width: 25px; height: 25px; }
.two-women-with-heart { background-position: -125px -350px; width: 25px; height: 25px; }
.unamused { background-position: -150px -350px; width: 25px; height: 25px; }
.victory-hand { background-position: -175px -350px; width: 25px; height: 25px; }
.video-game { background-position: -200px -350px; width: 25px; height: 25px; }
.waxing-gibbous-moon { background-position: -225px -350px; width: 25px; height: 25px; }
.weary-cat-face { background-position: -250px -350px; width: 25px; height: 25px; }
.weary-face { background-position: -275px -350px; width: 25px; height: 25px; }
.wheelchair { background-position: -300px -350px; width: 25px; height: 25px; }
.white-smiling-face { background-position: -325px -350px; width: 25px; height: 25px; }
.wink { background-position: -0px -375px; width: 25px; height: 25px; }
.wink2 { background-position: -25px -375px; width: 25px; height: 25px; }
.wolf-face { background-position: -50px -375px; width: 25px; height: 25px; }
.worried { background-position: -75px -375px; width: 25px; height: 25px; }