-#.modal.puzzle.fade
-#  .modal-dialog
-#    .modal-content
-#      .modal-header
-#        %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', :type => 'button'}
-#          %span{'aria-hidden' => 'true'} &times;
-#        %h4.modal-title
-#          .news_modal
-#            Puzzle
-#      .modal-body
-#        %img.jqPuzzle.jqp-r3-c5-h5{:alt => "Animals crossing", :src => "11.jpg"}