= form_for(Upload.new, html: { multipart: true, class: "dropzone"}) do |f|
  .fallback
    = f.file_field :image
    %br/
    = f.submit "Upload"
%br/
-if @uploads
  -@uploads.each do |upload|
    =image_tag upload.image.url(:medium)